@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AlexBrush';
  src:  url('/fonts/AlexBrush-Regular.ttf') format('truetype');
}

.wedding-font {
  font-family: 'AlexBrush', 'Open Sans', sans-serif;
}

.bg-pastel {
  background: url('/images/pastel-bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-adhis {
  background: url('/images/adhis-photo.jpeg');
  background-size: cover;
  background-position: -100px -100px;
  background-repeat: no-repeat;
  background-color: #cac5c2;
  box-shadow: 1px 8px 50px #00000054;
  border: 1px solid white;
}

.bg-azis {
  background: url('/images/azis-photo.jpeg');
  background-size: cover;
  background-position: -100px -80px;
  background-repeat: no-repeat;
  background-color: #aedcd7;
  box-shadow: 1px 8px 50px #00000054;
  border: 1px solid white;
}

.bg-flower {
  background: url('/images/flower-bg.jpg');
  background-size: cover;
  background-position: bottom;
  position: relative;
  background-attachment: fixed;
}

.bg-pink-flower {
  background: url('/images/pink-flower-bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-wall-pink {
  background: url('/images/wall-pink-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-blue-flower {
  background: url('/images/blue-flower-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
}
